.card {
    background-image: url("../../assets/background-card.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: stretch; /* Resize the background image to cover the entire container */
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 1em;
    width: 50%;
    border-radius: 30px;
}


.card img {
    border-radius: 100px;
}
